{% load static %}
<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="with=device-scale, initial-scale=1">
      <title>תנועת הנוער הציוני סוציאליסטי</title>
      <link rel="stylesheet" href="{% static 'styles.css' %}">
      <link rel="icon" href="{% static 'images/icon.png' %}"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
      <section class="elad">
            
            <nav>
                  <a href="/"><img src="{% static 'images/icon.png' %}"></a>
                  <div class="nav-links" id="navLinks">
                        <i class="fa fa-times" aria-hidden="true" onclick="hideMenu()"></i>
                        <ul>
                              <li><a href="/">צרו קשר</a></li>
                              <li><a href="/hofesh-habitoi">הזה של אלעד</a></li>
                              <li><a href="/matsa">המצע שלנו</a></li>
                              <li><a href="/">ראשי</a></li>
                        </ul>
                  </div>
                  <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
                  </nav>

            <div class="text-box">
                  <h1>מדור חופש הביטוי</h1>
                  <p>כאן תוכלו למצוא קריקטורות, פוסטים, ציוצים ומה לא<br>שאנשים שלחו לנו בהקשר של חופש הביטוי</p>
                  <a href="/mador" class="hero-btn">לחצו כאן כדי להגיע למדור</a>
            </div>

            <div class="controlls">
                  <div class="control" data-id="about">
                        <i class="fa fa-arrow-down btn" onclick="scrollpage()"></i>
                  </div>
            </div>

      </section>
            

      <section class="hiztarfut">
            <div class="sendphoto-text">
                  <h1>?רוציםות שגם האמירות שלכםן יאמרו</h1>
                  <p>כאן תוכלו לשלוח קריקטורות/כל אמירה פוליטית אחרת שקשורה אליכםן</p>
            </div>
                  <div class="contact-form">
                        <form method="post">
                              {% csrf_token %}
                              <input type="text" class="form-control" name="name" placeholder="שם מלא" required>
                              <br>
                              <input type="email" class="form-control" name="email" placeholder="אימייל" required>
                              <br>
                              <p>תמונה</p>
                              <input type="file" class="form-control" name="file" placeholder="תמונה">
                              <br>
                              <textarea name="message" class="form-control" placeholder="הערות/הסבר שיהיה כתוב" required></textarea>
                              <br>
                              <input type="submit" class="form-control submit" value="שלחו">
                  </div>
                  <div class="control-3">
                        <div class="control" data-id="about">
                              <i class="fa fa-arrow-up btn" onclick="scrollpageu()"></i>
                        </div>
                  </div>
      </section>
      <script>
            var navLinks = document.getElementById("navLinks");

            function showMenu() {
                  navLinks.style.right = "0";
            }

            function hideMenu() {
                  navLinks.style.right = "-200px";
            }
            function scrollpage() {		
                  function f() 
                  {
                        window.scrollTo(0,i);
                        if(status==0) {
                                 i=i+40;
                              if(i>=Height){	status=1; } 
                        } 
                  setTimeout( f, 0.01 );
                  }f();
            }
            var Height=document.documentElement.scrollHeight;
            function scrollpageu() {		
                  function f() 
                  {
                        window.scrollTo(0,i);
                        if(status==0) {
                                 i=i-40;
                              if(i>=Height){	status=1; } 
                        } 
                  setTimeout( f, 0.01 );
                  }f();
            }
            var Height=document.documentElement.scrollHeight;
            var i=1,j=Height,status=0;
      </script>

</body>

</html>